@model IEnumerable<EFGetStarted.AspNetCore.ExistingDb.Models.Blog>
@inject  Microsoft.Extensions.Configuration.IConfiguration Conf
@{
	ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>

<p>
	<a href="@Conf["AppRootPath"]Blogs/Create">Create New</a>
</p>

@Html.AntiForgeryToken()
<table class="table">
	<tr>
		<th>Id</th>
		<th>Url</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.BlogId)
			</td>
			<td>
				<div class="form-inline">
					<span class='displaying'>@Html.DisplayFor(modelItem => item.Url)</span>
					@Html.TextBox("Url_" + item.BlogId, (string)item.Url, new { @class = "edit form-control" })
					<button class="update-case btn btn-default" data-id="@item.BlogId">Update</button>
					<button class="delete-case btn btn-danger" data-id="@item.BlogId">Delete</button>
				</div>
			</td>
		</tr>
	}
</table>
@section scripts
{
	<script type="text/javascript">
		$(function () {
			$('.update-case').on('click', function (e) {
				e.preventDefault();
				tr = $(this).parents('tr:first');
				var id = $(this).data('id');
				var url = tr.find('.edit').val();
				if (url == '' || url == tr.find('span.displaying').text())
					return;

				var token = $('input[name="__RequestVerificationToken"]').val();
				var hedrs = { 'RequestVerificationToken': token }

				$.ajax({
					method: "POST", url: '@Conf["AppRootPath"]Blogs/Edit',
					data: { "id": id, "url": url },
					headers: hedrs
				}).done(function (blog) {
					if (blog == "error") {
						alert("error");
						return;
					}

					var edit = tr.find('.edit');
					edit.val(blog.url);
					var span = tr.find('span.displaying');
					span.text(blog.url);
				});

			});

			$('.delete-case').on('click', function (e) {
				e.preventDefault();
				tr = $(this).parents('tr:first');
				var id = $(this).data('id');

				var token = $('input[name="__RequestVerificationToken"]').val();
				var hedrs = { 'RequestVerificationToken': token }

				$.ajax({
					method: "DELETE", url: "@Conf["AppRootPath"]Blogs/Delete",
					data: { "id": id },
					headers: hedrs
				}).done(function (result) {
					//alert("Data deleted: " + result);
					if (result == 'ok')
						$(tr).remove();
				});

			});
		});
	</script>
}
